html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #F6F6F6;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  margin-left: 45px;
  color: #82878c;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: #F6F6F6;
}
header {
  width: 100%;
  height: 250px;
  padding-top: 10px;
  background-color: #212328;
  /* display: flex; */
  position:fixed;
}
.linkContainer {
  padding: 20px;
  border-bottom: #2C2F36 solid 3px;
}
.userImg {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #212328;
  font-family: 'Inter', sans-serif;
  /* font-family: "Vina Sans", sans-serif; */
}
h2, h3, h4, h5, h6{
  color: #82878c;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Outfit', sans-serif; */
}


.navTop {
  display: flex;
  justify-items: center;
  align-content: center;
  justify-items: center;
  align-self: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacing {
  display: flex;
  justify-content: space-between;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.button {
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}
.whiteButton {
  padding: 10px 5px;
  border-radius: 10px;
  color: #000;
  border-color: #F6F6F6;
  background-color: #fff;
}


/* login page only */

.loginMain {
  margin-left:32%;
  margin-top: 13%;
  background-color: #ffffff;
  padding: 50px 50px 50px 50px;
  width: 30%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  /* height: 900px; */
  position: relative;
  position: fixed;
}
.loginModel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.LoginInputBox {
  margin-left: 30px;
  margin: 20px 0px 10px 30px;
  border: #000 solid 1px;
  height: 35px;
  width: 200px;
  font-size: 1em;
  border-radius: 10px;
}
.LoginSubmitButton {
  padding: 10px 150px;
  margin-top: 50px;
  border-radius: 10px;
  color: #fff;
  border: #6681e8 solid 2px;
  background-color: #6681e8;
}

/* to put the content under the header */
/* header {
  position:fixed;
  z-index:2;
}
.loginMain {
  position:relative;
  z-index:1;
} */

/* registration only */
.regIcon {
  width: 70px;
  height: 70px;
}
.titleSize {
  margin-left: 10px;
  font-size: 1.75em;
}
.regHeader {
  margin: 0px 3%;
}
.regSearchbar {
  margin-left: 50px;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  background-color: #2C2F36;
  color: #82878c;
}
.searchIcon {
  padding: 0 10px 0 20px;
  width: 30px;
  height: 30px;
}
.navInput {
  height: 45px;
  width: 350px;
  font-size: 1em;
  border-radius: 15px;
  border: none;
  outline:none;
  background-color: #2C2F36;
  color: #fff;
}
.regLinkContainer {
  margin-top: 10px;
  padding: 20px 10px;
  border-bottom: #2C2F36 solid 3px;
  /* display: flex;
  align-items: flex-start; */
}






button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


::-webkit-scrollbar {
  width: 0px;
}/*# sourceMappingURL=style.css.map */